<section class="top-section" style="padding-top:50px">
<div class="container">
  <h1>Boxes</h1>
  <div class="row">
    <% @topics.each do |topic| %>
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <%= topic.name %>
          <%= link_to(image_tag("http://placehold.it/800x600&text=#{topic.name[1,9]}"), topic_path(topic), class: 'thumbnail img-responsive') %>
      </div>
    <% end %>
  </div>
</div>
<div class="clouds-bg"></div>
</section>