<div class="wrap">
    <section class="top-section">
      <div class="container">
          <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                    <h1 class="" contenteditable="false">
          Clipbox ROCKS!
        </h1>

                  <p class="lead">Save your bookmarks to the cloud and share them with your friends!
                    <% unless current_user %>
                      <%= link_to "Sign in", about_path, class: 'btn btn-lg btn-info' %> OR
                      <%= link_to "Sign up", about_path, class: 'btn btn-lg btn-info' %>
                      <a class="btn-link btn btn-default btn-lg" style="margin:20px 10px;"><span class="glyphicon glyphicon-expand"></span>View demo</a>
                    <% end %>
                  </p>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                  <%= image_tag('connectedcustomer.png') %>
              </div>
          </div>
          <div class="clouds-bg"></div>
      </div>
    </section>
    <section class="features-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="//placehold.it/200x100/dfdfdf" class="">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="//placehold.it/200x100/dfdfdf" class="">
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3"><img src="//placehold.it/200x100/dfdfdf" class="" contenteditable="false"></div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                    <img src="//placehold.it/200x100/dfdfdf" class="" contenteditable="false">
                </div>
                
            </div>
            <hr class="">
            <div class="row">
                <div class="col-md-6">
                     <h3 class="">BOOTSTRAP 3 ROCKS!</h3>

                    <p class="lead">Get this modern flat responsive landing page template for FREE! Need more
                        Bootstrap? More Bootstrap FEEBIES <a href="http://Bootstraptor.com" class="">Bootstraptor.com</a>

                        <button class="btn btn-default btn-lg btn-info" href="http://Bootstraptor.com" type="button">GET FREEBIES</button> <a class="btn-link btn btn-default btn-lg" style="margin:20px 10px;"><span class="glyphicon glyphicon-expand"></span> Demo video</a>

                    </p>
                </div>
                <div class="col-md-6">
                     <h3 class="">
             RESPONSIVE &amp; FLAT DESIGN!
          </h3>

                    <p class="lead">Get this modern flat responsive landing page template for FREE! Need more
                        Bootstrap? More Bootstrap FEEBIES <a href="http://Bootstraptor.com" class="">Bootstraptor.com</a>

                        <button class="btn btn-default btn-lg btn-info" href="http://Bootstraptor.com" type="button">GET FREEBIES</button> <a class="btn-link btn btn-default btn-lg" style="margin:20px 10px;"><span class="glyphicon glyphicon-expand"></span> Demo video</a>

                    </p>
                </div>
            </div>
            <hr class="">
            <div class="row">
                <div id="carousel-751930" class="carousel slide">
                    <div class="carousel-inner text-center">
                        <div class="item" style="">
                            <blockquote>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                    erat a ante.</p> <small class="">Someone famous in <cite class="">Source Title</cite></small>

                            </blockquote>
                        </div>
                        <div class="item active">
                            <blockquote>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                    erat a ante.</p> <small class="">Someone famous in <cite class="">Source Title</cite></small>

                            </blockquote>
                        </div>
                        <div class="item" style="">
                            <blockquote>
                                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                                    erat a ante.</p> <small class="">Someone famous in <cite class="">Source Title</cite></small>

                            </blockquote>
                        </div>
                    </div> <a class="left carousel-control" href="#carousel-751930" data-slide="prev"><span class="icon-prev"></span></a> 
                    <a class="right carousel-control" href="#carousel-751930" data-slide="next"><span class="icon-next"></span>
                        </a>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                   

                    <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra
                        varius quam sit amet vulputate. Quisque mauris augue, molestie tincidunt
                        condimentum vitae, gravida a libero. Aenean sit amet felis dolor, in sagittis
                        nisi.</p>
                </div>
                <div class="col-md-3">
                    <ul class="">
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="">
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="">
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                        <li>  <a href="http://bootstraptor.com/bootstrap-free/" class="">Get Free Bootstrap</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>